<%- include('partials/header') %> 

<div class="container">
    <h1 class="display-2"><%= statusMsg %></h1>
    
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</div>

<%- include('partials/footer') %> 